/* Colors */
$black: #000000;

/* Fonts */
$font: 'Times New Roman', sans-serif;

/* Breakpoints */
$screen: 1920px;
$laptop-xl: 1440px;
$laptop-xs: 1024px;
$tablet: 768px;
$mobile-xl: 425px;
$mobile-xm: 375px;
$mobile-xs: 320px;
$mobile-xxs: 280px;